/* Estilo para el h1 global */
h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

/* Estilo para el contenedor principal de los moldes */
.moldes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Estilo de cada molde */
.molde {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para la imagen */
.molde-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el contenedor de información (título y lista) */
.molde-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}

/* Estilo para el título de cada molde (h3) */
.molde-titulo {
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
}

/* Estilo para la lista de componentes */
.molde-lista {
    list-style-type: none;
    padding: 0;
}

.molde-lista li {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #666;
    margin-bottom: 8px;
    transition: all 0.3s ease;
}